{%extends "ATKSAdminBundle::layout.html.twig"%}
{%block title%}{{parent()}} Liste des produits{%endblock title%}
{% block body %}
{{parent()}}
<a class="button large primary" href="{{path('atks_admin_ajout_produit')}}">
    <i class="icon-plus-2"></i>
    Produit
</a>
<div class="grid fluid">
    <div class="row">
        <h2 id="__form__">Liste des produits</h2>
        <div class="example2" style="padding: 10px">
            <table class="table striped hovered dataTable" id="dataTables-1">
                <thead>
                    <tr>
                        <th class="text-left" style="width: 5%">N°</th>
                        <th class="text-left" style="width: 10%">Nom</th>
                        <th class="text-left" style="width: 30%">Description</th>
                        <th class="text-left" style="width: 30%">Tags</th>
                        <th class="text-left" style="width: 10%">Type</th>
                        <th class="text-left" style="width: 15%">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {%for p in produits%}
                        <tr>
                            <td>{{p.id}}</td>
                            <td>{{p.nom}}</td>
                            <td>{{p.description}}</td>
                            <td> {{p.tags}}</td>
                            <td> {{p.type}}</td>
                            <td>
                                <div class="toolbar" style="float: right">
                                    <a class="button js-show-all-streams" title="Voir détail" data-role=""><span class="icon-eye"></span></a>
                                    <a href="{{path('atks_admin_modifier_produit', {'id':p.id})}}" class="button js-show-all-streams" title="Modifier" data-role=""><span class="icon-pencil"></span></a>
                                    <a href="{{path('atks_admin_supprimer_produit', {'id':p.id})}}" class="button js-show-all-streams" title="Supprimer" data-role=""><span class="icon-remove"></span></a>
                                </div>
                            </td>
                        </tr>
                    {%endfor%}
                    </tbody>

                    <tfoot>
                        <tr>
                            <th class="text-left" style="width: 5%">N°</th>
                            <th class="text-left" style="width: 10%">Nom</th>
                            <th class="text-left" style="width: 30%">Description</th>
                            <th class="text-left" style="width: 30%">Tags</th>
                            <th class="text-left" style="width: 10%">Type</th>
                            <th class="text-left" style="width: 15%">Action</th>
                        </tr>
                    </tfoot>
                </table>
                {%if produits|length>0%}
                <div class="pagination" style="margin-top: 20px">
                    <ul>
                        <li class="first"><a {%if page==1%}class="disabled" {%endif%} href="{{path('atks_admin_list_produit', {'page': 1})}}"><i class="icon-first-2"></i></a></li>
                        <li class="prev"><a {%if page-1<1%}class="disabled" {%endif%} href="{{path('atks_admin_list_produit', {'page': page-1})}}"><i class="icon-previous"></i></a></li>
                        {%for i in 1..nbrTotalPages%}
                                <li><a href="{{path('atks_admin_list_produit', {'page': i})}}" {%if page==i%}class="disabled" {%endif%}>{{i}}</a></li>
                        {%endfor%}
                                    <li class="next"><a {%if page+1>nbrTotalPages%}class="disabled" {%endif%} href="{{path('atks_admin_list_produit', {'page': page+1})}}"><i class="icon-next"></i></a></li>
                                    <li class="last"><a {%if page==nbrTotalPages%}class="disabled" {%endif%} href="{{path('atks_admin_list_produit', {'page': nbrTotalPages})}}"><i class="icon-last-2"></i></a></li>
                                </ul>
                            </div>
                {%endif%}
                        </div>
                    </div>
                </div>
{% endblock body %}
{% block javascripts %}
{{parent()}}
                <script>
                    $(function() {
                        $('#dataTables-1').dataTable({
                            "bProcessing": true,
                        });
                    });
                    </script>
{% endblock javascripts %}