{%extends "ATKSAdminBundle::layout.html.twig"%}
{%block title%}{{parent()}} Les hôpitaux{%endblock title%}
{% block body %}
{{parent()}}
<a class="button large primary" href="{{path('atks_admin_marquer_hopitaux_vue')}}">
    <i class="icon-eye"></i>
    Marquer tout vue
</a>
<div class="grid fluid">
    <div class="row">
        <h2 id="__form__">Les hôpitaux soumis par les utilisateurs</h2>
        <div class="example2" style="padding: 10px">
            <table class="table striped hovered dataTable" id="dataTables-1">
                <thead>
                    <tr>
                        <th class="text-left" style="width: 5%">Image</th>
                            <th class="text-left" style="width: 10%">Utilisateur</th>
                            <th class="text-left" style="width: 20%">Nom</th>
                            <th class="text-left" style="width: 5%">Type</th>
                            <th class="text-left" style="width: 10%">Adresse</th>
                            <th class="text-left" style="width: 15%">Contact</th>
                            <th class="text-left" style="width: 5%">Coord. géo.</th>
                            <th class="text-left" style="width: 15%">Services de santé ID</th>
                            <th class="text-left" style="width: 15%">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {%for h in hopitaux%}
                        <tr style="{%if h.vue==false%}background: #78aa1c{%endif%}">
                            <td>
                                {%if h.image%}
                                    <img src="{{asset(h.image.webPath)}}" style="width: 60px; height: 60px"/>
                                {%else%}
                                <img src="{{asset('bundles/atksadmin/images/caducee-pharmacie.jpg')}}" style="width: 60px; height: 60px"/>
                                {%endif%}
                            </td>
                            <td>
                                {{h.nomUser|upper}} {{h.prenomUser}} <br/>
                                ({{h.emailUser}})<br/>
                                {{h.telephoneUser}}
                            </td>
                            <td>{{h.nom}}</td>
                            <td>{{h.type}}</td>
                            <td>{{h.adresse}}</td>
                            <td>
                                {%if h.telephone%}Tél: {{h.telephone}}<br/>{%endif%}
                                {%if h.fax%}Fax: {{h.fax}}<br/>{%endif%}
                                {%if h.email%}Email: <a href="mailto:{{h.email}}">{{h.email}}</a><br/>{%endif%}
                                {%if h.siteWeb%}Site web: <a href="http://{{h.siteWeb}}">{{h.siteWeb}}</a>{%endif%}
                            </td>
                            <td> 
                                Lat: {{h.latitude}}<br/>
                                Lon: {{h.longitude}}<br/>
                            </td>
                            <td> 
                                {{h.serviceSantesId}}
                            </td>
                            <td>
                                <div class="toolbar" style="float: right">
                                    <a class="button js-show-all-streams" title="" data-role="" href="{{path('atks_admin_marquer_hopital_vue', {'id':h.id})}}"><span class="icon-eye"></span></a>
                                    <a href="{{path('atks_admin_supprimer_hopital_user', {'id':h.id})}}" class="button js-show-all-streams" title="Supprimer" data-role=""><span class="icon-remove"></span></a>
                                </div>
                            </td>
                        </tr>
                    {%endfor%}
                    </tbody>

                    <tfoot>
                        <tr>
                            <th class="text-left" style="width: 5%">Image</th>
                            <th class="text-left" style="width: 10%">Utilisateur</th>
                            <th class="text-left" style="width: 20%">Nom</th>
                            <th class="text-left" style="width: 5%">Type</th>
                            <th class="text-left" style="width: 10%">Adresse</th>
                            <th class="text-left" style="width: 15%">Contact</th>
                            <th class="text-left" style="width: 5%">Coord. géo.</th>
                            <th class="text-left" style="width: 15%">Services de santé ID</th>
                            <th class="text-left" style="width: 15%">Action</th>
                        </tr>
                    </tfoot>
                </table>
                {%if hopitaux|length>0%}
                <div class="pagination" style="margin-top: 20px">
                    <ul>
                        <li class="first"><a {%if page==1%}class="disabled" {%endif%} href="{{path('atks_admin_list_hopital_soumis_user', {'page': 1})}}"><i class="icon-first-2"></i></a></li>
                        <li class="prev"><a {%if page-1<1%}class="disabled" {%endif%} href="{{path('atks_admin_list_hopital_soumis_user', {'page': page-1})}}"><i class="icon-previous"></i></a></li>
                        {%for i in 1..nbrTotalPages%}
                        <li><a href="{{path('atks_admin_list_hopital_soumis_user', {'page': i})}}" {%if page==i%}class="disabled" {%endif%}>{{i}}</a></li>
                        {%endfor%}
                        <li class="next"><a {%if page+1>nbrTotalPages%}class="disabled" {%endif%} href="{{path('atks_admin_list_hopital_soumis_user', {'page': page+1})}}"><i class="icon-next"></i></a></li>
                        <li class="last"><a {%if page==nbrTotalPages%}class="disabled" {%endif%} href="{{path('atks_admin_list_hopital_soumis_user', {'page': nbrTotalPages})}}"><i class="icon-last-2"></i></a></li>
                    </ul>
                </div>
                {%endif%}
            </div>
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
{{parent()}}
    <script>
        $(function() {
            $('#dataTables-1').dataTable({
                "bProcessing": true,
            });
        });
        </script>
{% endblock javascripts %}