{%extends "ATKSAdminBundle::layout.html.twig"%}
{%block title%}{{parent()}} Liste des pharmacies soumises par les utilisateurs{%endblock title%}
{% block body %}
{{parent()}}
<a class="button large primary" href="{{path('atks_admin_marquer_pharmacies_vue')}}">
    <i class="icon-eye"></i>
    Marquer tout vue
</a>
<div class="grid fluid">
    <div class="row">
        <h2 id="__form__">Liste des pharmacies soumises par les utilisateurs</h2>
        <div class="example2" style="padding: 10px">
            <table class="table striped hovered dataTable" id="dataTables-1">
                <thead>
                    <tr>
                            <th class="text-left" style="width: 5%">Image</th>
                            <th class="text-left" style="width: 10%">Utilisateur</th>
                            <th class="text-left" style="width: 15%">Nom</th>
                            <th class="text-left" style="width: 10%">Adresse</th>
                            <th class="text-left" style="width: 10%">Contact</th>
                            <th class="text-left" style="width: 5%">Horaire d'ouverture</th>
                            <th class="text-left" style="width: 10%">Pharmacien</th>
                            <th class="text-left" style="width: 10%">Coord. géo.</th>
                            <th class="text-left" style="width: 10%">Spéc. ID</th>
                            <th class="text-left" style="width: 15%">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {%for p in pharmacies%}
                        <tr style="{%if p.vue==false%}background: #78aa1c{%endif%}">
                            <td>
                                {%if p.image%}
                                    <img src="{{asset(p.image.webPath)}}" style="width: 60px; height: 60px"/>
                                {%else%}
                                <img src="{{asset('bundles/atksadmin/images/caducee-pharmacie.jpg')}}" style="width: 60px; height: 60px"/>
                                {%endif%}
                            </td>
                            <td>
                                {{p.nomUser|upper}} {{p.prenomUser}}<br/>
                                    ({{p.emailUser}})<br/>
                                    {{p.telephoneUser}}
                            </td>
                            <td>{{p.nom}}</td>
                            <td>{{p.adresse}}</td>
                            <td> 
                                {%if p.telephone%}Tél: {{p.telephone}}{%endif%}<br/>
                                {%if p.fax%}Fax: {{p.fax}}{%endif%}<br/>
                                {%if p.email%}Email: <a href="mailto:{{p.email}}">{{p.email}}</a>{%endif%}<br/>
                                {%if p.siteWeb%}Site Web: <a href="http://{{p.siteWeb}}">{{p.siteWeb}}</a>{%endif%}<br/>
                            </td>
                            <td> 
                                {{p.heureOuverture|date('H')}}H - {{p.heureFermeture|date('H')}}H
                            </td>
                            <td> 
                                {{p.nomPharmacien}} ({{p.qualificationPharmacien}})
                            </td>
                            <td> 
                                Lon: {{p.longitude}}<br/>
                                Lat: {{p.latitude}}
                            </td>
                            <td> 
                                {{p.specialiteId}}
                            </td>
                            <td>
                                <div class="toolbar" style="float: right">
                                    <a href="{{path('atks_admin_marquer_pharmacie_vue', {'id':p.id})}}" class="button js-show-all-streams" title="" data-role=""><span class="icon-eye"></span></a>
                                    <a href="{{path('atks_admin_supprimer_pharmacie_user', {'id':p.id})}}" class="button js-show-all-streams" title="Supprimer" data-role=""><span class="icon-remove"></span></a>
                                </div>
                            </td>
                        </tr>
                    {%endfor%}
                    </tbody>

                    <tfoot>
                        <tr>
                            <th class="text-left" style="width: 5%">Image</th>
                            <th class="text-left" style="width: 10%">Utilisateur</th>
                            <th class="text-left" style="width: 15%">Nom</th>
                            <th class="text-left" style="width: 10%">Adresse</th>
                            <th class="text-left" style="width: 10%">Contact</th>
                            <th class="text-left" style="width: 5%">Horaire d'ouverture</th>
                            <th class="text-left" style="width: 10%">Pharmacien</th>
                            <th class="text-left" style="width: 10%">Coord. géo.</th>
                            <th class="text-left" style="width: 10%">Spéc. ID</th>
                            <th class="text-left" style="width: 15%">Action</th>
                        </tr>
                    </tfoot>
                </table>
                {%if pharmacies|length>0%}
                <div class="pagination" style="margin-top: 20px">
                    <ul>
                        <li class="first"><a {%if page==1%}class="disabled" {%endif%} href="{{path('atks_admin_list_pharmacie_soumis_user', {'page': 1})}}"><i class="icon-first-2"></i></a></li>
                        <li class="prev"><a {%if page-1<1%}class="disabled" {%endif%} href="{{path('atks_admin_list_pharmacie_soumis_user', {'page': page-1})}}"><i class="icon-previous"></i></a></li>
                        {%for i in 1..nbrTotalPages%}
                        <li><a href="{{path('atks_admin_list_pharmacie_soumis_user', {'page': i})}}" {%if page==i%}class="disabled" {%endif%}>{{i}}</a></li>
                        {%endfor%}
                        <li class="next"><a {%if page+1>nbrTotalPages%}class="disabled" {%endif%} href="{{path('atks_admin_list_pharmacie_soumis_user', {'page': page+1})}}"><i class="icon-next"></i></a></li>
                        <li class="last"><a {%if page==nbrTotalPages%}class="disabled" {%endif%} href="{{path('atks_admin_list_pharmacie_soumis_user', {'page': nbrTotalPages})}}"><i class="icon-last-2"></i></a></li>
                    </ul>
                </div>
                {%endif%}
            </div>
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
{{parent()}}
    <script>
        $(function() {
            $('#dataTables-1').dataTable({
                "bProcessing": true,
            });
        });
        </script>
{% endblock javascripts %}