{%extends "ATKSAdminBundle::layout.html.twig"%}
{%block title%}{{parent()}} Les services de santé{%endblock title%}
{% block body %}
{{parent()}}
<div class="grid fluid">
    <div class="row">
        <div class="span4">
            <h2 id="__form__">Ajouter un service de santé</h2>
            <div class="example2" style="padding: 10px">
                <form action="" {{ form_enctype(form) }} method="POST">

                        {{ form_label(form.nom, "Nom du service") }}
                    <div class="input-control text" data-role="input-control">
                        <span style="color: red">{{ form_errors(form.nom) }}</span>
                        {{ form_widget(form.nom) }}
                        <button class="btn-clear" tabindex="-1" type="button"></button>
                    </div> 
                    
                    {{ form_label(form.description, "Description du service") }}
                        <span style="color: red">{{ form_errors(form.description) }}</span>
                        <div class="input-control textarea" data-role="input-control">
                        {{ form_widget(form.description) }}
                        </div>
                    
                        {{ form_label(form.tags, "Tags") }}
                    <div class="input-control text" data-role="input-control">
                        <span style="color: red">{{ form_errors(form.tags) }}</span>
                        {{ form_widget(form.tags) }}
                        <button class="btn-clear" tabindex="-1" type="button"></button>
                    </div> 
{{ form_widget(form) }}
                    <div style="margin-top: 10px;">
                        <button type="submit" class="button large primary">
                            <i class="icon-checkbox on-left"></i>
                            Valider
                        </button>
                    </div>

                </form>
            </div>
        </div>
        <div class="span8">
            <h2 id="__form__">Les services de santé ({{serviceSantes|length}})</h2>
            <div class="example2" style="padding: 10px">
                <table class="table striped hovered dataTable" id="dataTables-1">
                    <thead>
                        <tr>
                            <th class="text-left" style="width: 10%">N°</th>
                            <th class="text-left" style="width: 20%">Nom</th>
                            <th class="text-left" style="width: 20%">Description</th>
                            <th class="text-left" style="width: 20%">Tags</th>
                            <th class="text-left" style="width: 30%">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                    {%for s in serviceSantes%}
                            <tr>
                                <td>
                                {{s.id}}
                                    </td>
                                <td>
                                {{s.nom}}
                                    </td>
                                <td>
                                {{s.description}}
                                    </td>
                                    <td>{{s.tags}}</td>
                                    <td>
                                        <div class="toolbar" style="float: right">
                                            <a href="{{path('atks_admin_voir_hopital_disposant_service', {'id':s.id})}}" class="button small js-show-all-streams" title="Voir les hôpitaux disposant de ce service" data-role=""><span class="icon-eye"></span></a>
                                            <a href="{{path('atks_admin_modifier_service_sante', {'id':s.id})}}" class="button small js-show-all-streams" title="Modifier" data-role=""><span class="icon-pencil"></span></a>
                                            <a href="{{path('atks_admin_supprimer_service_sante', {'id':s.id})}}" class="button small js-show-all-streams" title="Supprimer" data-role=""><span class="icon-remove"></span></a>
                                        </div>
                                    </td>
                                </tr>
                    {%endfor%}
                            </tbody>

                            <tfoot>
                                <tr>
                                    <th class="text-left" style="width: 10%">N°</th>
                                    <th class="text-left" style="width: 20%">Nom</th>
                                    <th class="text-left" style="width: 20%">Description</th>
                                    <th class="text-left" style="width: 20%">Tags</th>
                                    <th class="text-left" style="width: 30%">Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>
{% endblock body %}
{% block javascripts %}
{{parent()}}
        <script>
            $(function() {
                $('#dataTables-1').dataTable({
                    "bProcessing": true,
                });
            });
            </script>
{% endblock javascripts %}