{%extends "ATKSUserBundle::layout.html.twig"%}
{%block title%}{{parent()}} Ajouter une pharmacie{%endblock title%}
{%block header%}
<div style="height: 50px; width: 100%; background: #007100">
    <a href="{{path('atks_user_accueil')}}"><img src="{{asset('bundles/atksadmin/images/logoAtks.PNG')}}" style="width: 40px; height: 40px; margin: 5px;"/></a>
</div>
<div class="notice marker-on-top bg-darkRed " style="margin: 8px; ">
    <div class="fg-white" style="text-align: center; font-size: 13px">
        En remplissant ce formulaire vous devenez membre de la communauté ProxiSanté qui vise à donner un accès facile à l'information sanitaire autour de ces utilisateurs.
        <span style="color: yellowgreen">Ce formulaire doit être rempli sur place dans le centre de santé dont il sagit afin que nous puissions récupérer automatiquement votre position géographique</span> qui sera les coordonnées géographiques du dit centre de santé.
        Pour cela il va falloir autoriser votre navigateur à récupérer votre position quand il vous le demandera
    </div>
</div>
{%endblock header%}
{%block body%}
{{parent()}}
<div class="container">
    <h2 id="__form__">Ajout d'une pharmacie</h2>
    <form action="" {{ form_enctype(form) }} method="POST">
        <h2 id="__form__" style="color: #FE9623">Vous</h2>
        <div class="grid">
            <div class="row">
                <div class="span6">
                                    {{ form_label(form.nomUser, "Votre nom") }}
                        <span style="color: red">{{ form_errors(form.nomUser) }}</span>
                        <div class="input-control text" data-role="input-control">
                                    {{ form_widget(form.nomUser) }}
                                <button class="btn-clear" tabindex="-1" type="button"></button>
                            </div>

                                        {{ form_label(form.prenomUser, "Votre prénom") }}
                            <span style="color: red">{{ form_errors(form.prenomUser) }}</span>
                            <div class="input-control text" data-role="input-control">
                        {{ form_widget(form.prenomUser) }}
                                    <button class="btn-clear" tabindex="-1" type="button"></button>
                                </div>
                            </div>
                            <div class="span6">
                                {{ form_label(form.emailUser, "Votre email") }}
                                    <span style="color: red">{{ form_errors(form.emailUser) }}</span>
                                    <div class="input-control text" data-role="input-control">
                        {{ form_widget(form.emailUser) }}
                                            <button class="btn-clear" tabindex="-1" type="button"></button>
                                        </div>
                                {{ form_label(form.telephoneUser, "Votre N° de téléphone") }}
                                        <span style="color: red">{{ form_errors(form.telephoneUser) }}</span>
                                        <div class="input-control text" data-role="input-control">
                        {{ form_widget(form.telephoneUser) }}
                                                <button class="btn-clear" tabindex="-1" type="button"></button>
                                            </div>
                                        </div>
                                    </div>

                                    <h2 id="__form__" style="color: #FE9623">La pharmacie</h2>
                                    <div class="row">

                                        <div class="span6">

                        {{ form_label(form.nom, "Nom de la pharmacie") }}
                                            <span style="color: red">{{ form_errors(form.nom) }}</span>
                                            <div class="input-control text" data-role="input-control">
                        {{ form_widget(form.nom) }}
                                                    <button class="btn-clear" tabindex="-1" type="button"></button>
                                                </div>

                        {{ form_label(form.telephone, "Téléphone") }}
                                                <span style="color: red">{{ form_errors(form.telephone) }}</span>
                                                <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.telephone) }}
                                                        <button class="btn-clear" tabindex="-1" type="button"></button>
                                                    </div>

                        {{ form_label(form.fax, "Fax") }}
                                                    <span style="color: red">{{ form_errors(form.fax) }}</span>
                                                    <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.fax) }}
                                                            <button class="btn-clear" tabindex="-1" type="button"></button>
                                                        </div>

                        {{ form_label(form.adresse, "Adresse") }}
                                                        <span style="color: red">{{ form_errors(form.adresse) }}</span>
                                                        <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.adresse) }}
                                                                <button class="btn-clear" tabindex="-1" type="button"></button>
                                                            </div>
                        {{ form_label(form.nomPharmacien, "Nom du pharmacien") }}
                                                            <span style="color: red">{{ form_errors(form.nomPharmacien) }}</span>
                                                            <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.nomPharmacien) }}
                                                                    <button class="btn-clear" tabindex="-1" type="button"></button>
                                                                </div>
                        {{ form_label(form.qualificationPharmacien, "Qualification du pharmacien") }}
                                                                <span style="color: red">{{ form_errors(form.qualificationPharmacien) }}</span>
                                                                <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.qualificationPharmacien) }}
                                                                        <button class="btn-clear" tabindex="-1" type="button"></button>
                                                                    </div>
                                                                    <span style="color: #FE9623; font-size: 12px">
                                                                        (Si le centre ouvre 24h/24h faudrait choisir pour heure d'ouverture 00:00 et pour heure de fermerture 23:59)                
                                                                    </span>
                                                                    {{ form_label(form.heureOuverture, "Heure d'ouverture") }}
                                                                    <span style="color: red">{{ form_errors(form.heureOuverture) }}</span>
                                                                    <div class="input-control text" data-role="input-control" >
                                                                    {{ form_widget(form.heureOuverture) }}
                                                                            <button class="btn-clear" tabindex="-1" type="button"></button>
                                                                        </div>

                                                                    {{ form_label(form.heureFermeture, "Heure de fermeture") }}
                                                                        <span style="color: red">{{ form_errors(form.heureFermeture) }}</span>
                                                                        <div class="input-control text" data-role="input-control" >
                                                                    {{ form_widget(form.heureFermeture) }}
                                                                                <button class="btn-clear" tabindex="-1" type="button"></button>
                                                                            </div>

                                                                        </div>        
                                                                        <div class="span6">
                        {{ form_label(form.email, "Email") }}
                                                                                <span style="color: red">{{ form_errors(form.email) }}</span>
                                                                                <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.email) }}
                                                                                        <button class="btn-clear" tabindex="-1" type="button"></button>
                                                                                    </div>

                        {{ form_label(form.siteWeb, "Site Web") }}
                                                                                    <span style="color: red">{{ form_errors(form.siteWeb) }}</span>
                                                                                    <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.siteWeb) }}
                                                                                            <button class="btn-clear" tabindex="-1" type="button"></button>
                                                                                        </div>

                        {{ form_label(form.longitude, "Longitude ") }}
                                                                                        <span style="color: #FE9623; font-size: 12px">
                                                                                            (Ce champ doit être renseigné automatiquement, sinon n'oublier pas d'autoriser votre navigateur à recupérer votre position et recharger la page)
                                                                                        </span>
                                                                                        <span style="color: red">{{ form_errors(form.longitude) }}</span>
                                                                                        <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.longitude) }}
                                                                                                <button class="btn-clear" tabindex="-1" type="button"></button>
                                                                                            </div>

                        {{ form_label(form.latitude, "Latitude") }}
                                                                                            <span style="color: #FE9623; font-size: 12px">
                                                                                                (Ce champ doit être renseigné automatiquement, sinon n'oublier pas d'autoriser votre navigateur à recupérer votre position et recharger la page)
                                                                                            </span>
                                                                                            <span style="color: red">{{ form_errors(form.latitude) }}</span>
                                                                                            <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.latitude) }}
                                                                                                    <button class="btn-clear" tabindex="-1" type="button"></button>
                                                                                                </div>

                        {#{ form_label(form.altitude, "Altitude (ne vous inquietez pas pour la valeur null de ce champ)") }}
                                                                                            <!--<span style="color: red">{{ form_errors(form.altitude) }}</span>
                                                                                            <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.altitude) }#}
                                                                                                <!-- <button class="btn-clear" tabindex="-1" type="button"></button>
                                                                                             </div>-->

                         {#{ form_label(form.image.file, " Ajouter une image de l'hopital si vous en avez une") }}
                                                                                                <span class="erreur-form">{{ form_errors(form.image.file) }}</span>
                                                                                                <div class="" data-role="input-control">
                        {{ form_widget(form.image.file) }#}
                                                                                                <!--<input type="text" id="__input_file_wrapper__" readonly="" style="z-index: 1; cursor: default;">
                                                                                                <button class="btn-file" type="button"></button>-->
                                                                                                <!-- </div>--> 
                                                                                            </div>  
                                                                                        </div> 
                                                                                        <h2 id="__form__" style="color: #FE9623">Les spécialités de cette pharmacie (<span style="color: #000000; font-size: 14px">Cochez les spécialités dont disposent cette pharmacie</span>)</h2>
                                                                                        <div class="row">
                                                                                            <div class="span12">
                                                                                                <p style="text-align: justify">
                                                                                                      {%for s in specialites%}  
                                                                                                    <div class="input-control checkbox margin10" data-role="input-control">
                                                                                                        <label>
                                                                                                            <input type="checkbox" name="specialite{{s.id}}" id="{{s.id}}">
                                                                                                            <span class="check"></span>
                                                                                                                {{s.nom}}
                                                                                                        </label>
                                                                                                    </div>
                                                                                                    <!--<input type="checkbox" name="{{s.id}}" id="{{s.id}}" /> <span for="">{{s.nom}}</span>-->
                                                                                                      {%endfor%}
                                                                                                    </p>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div style="margin-top: 10px;">
                                                                                                <button type="submit" class="button large primary">
                                                                                                    <i class="icon-checkbox on-left"></i>
                                                                                                    Valider
                                                                                                </button>
                                                                                            </div>
    {{ form_widget(form) }}
                                                                                        </div>
                                                                                    </form>
                                                                                </div>

{%endblock body%}
{%block footer%}
{%endblock footer%}

{%block javascripts%}
{{parent()}}
                                                                                <script>
                                                                                    autoLoadPharmacieCoords();
                                                                                    </script>
{%endblock javascripts%}