{%extends "ATKSAdminBundle::layout.html.twig"%}
{%block title%}{{parent()}} Ajout d'une pharmacie{%endblock title%}
{%block body%}
{%block bodycontent%}
<div class="grid fluid">
    <div class="row">
    <div class="span12">
        <h2 id="__form__">Ajout d'une nouvelle pharmacie</h2>
        <div class="example2" style="padding: 10px">
            <form action="" {{ form_enctype(form) }} method="POST">
                <div class="row">
                <div class="span6">
                        {{ form_label(form.nom, "Nom") }}
                        <span style="color: red">{{ form_errors(form.nom) }}</span>
                        <div class="input-control text" data-role="input-control">
                        {{ form_widget(form.nom) }}
                            <button class="btn-clear" tabindex="-1" type="button"></button>
                        </div>

                        {{ form_label(form.telephone, "Téléphone") }}
                        <span style="color: red">{{ form_errors(form.telephone) }}</span>
                        <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.telephone) }}
                         <button class="btn-clear" tabindex="-1" type="button"></button>
                        </div>

                        {{ form_label(form.fax, "Fax") }}
                        <span style="color: red">{{ form_errors(form.fax) }}</span>
                        <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.fax) }}
                         <button class="btn-clear" tabindex="-1" type="button"></button>
                        </div>

                        {{ form_label(form.email, "Email") }}
                        <span style="color: red">{{ form_errors(form.email) }}</span>
                        <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.email) }}
                         <button class="btn-clear" tabindex="-1" type="button"></button>
                        </div>

                        {{ form_label(form.siteWeb, "Site Web") }}
                        <span style="color: red">{{ form_errors(form.siteWeb) }}</span>
                        <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.siteWeb) }}
                         <button class="btn-clear" tabindex="-1" type="button"></button>
                        </div>

                        {{ form_label(form.adresse, "Adresse") }}
                        <span style="color: red">{{ form_errors(form.adresse) }}</span>
                        <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.adresse) }}
                         <button class="btn-clear" tabindex="-1" type="button"></button>
                        </div>

                        {{ form_label(form.heureOuverture, "Heure d'ouverture") }}
                        <span style="color: red">{{ form_errors(form.heureOuverture) }}</span>
                        <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.heureOuverture) }}
                         <button class="btn-clear" tabindex="-1" type="button"></button>
                        </div>

                        {{ form_label(form.heureFermeture, "Heure de fermeture") }}
                        <span style="color: red">{{ form_errors(form.heureFermeture) }}</span>
                        <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.heureFermeture) }}
                         <button class="btn-clear" tabindex="-1" type="button"></button>
                        </div>

                </div>
                <div class="span6">

                        {{ form_label(form.nomPharmacien, "Nom du pharmacien") }}
                        <span style="color: red">{{ form_errors(form.nomPharmacien) }}</span>
                        <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.nomPharmacien) }}
                         <button class="btn-clear" tabindex="-1" type="button"></button>
                        </div>

                        {{ form_label(form.qualificationPharmacien, "Qualification du pharmacien") }}
                        <span style="color: red">{{ form_errors(form.qualificationPharmacien) }}</span>
                        <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.qualificationPharmacien) }}
                         <button class="btn-clear" tabindex="-1" type="button"></button>
                        </div>

                        {{ form_label(form.longitude, "Longitude") }}
                        <span style="color: red">{{ form_errors(form.longitude) }}</span>
                        <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.longitude) }}
                         <button class="btn-clear" tabindex="-1" type="button"></button>
                        </div>

                        {{ form_label(form.latitude, "Latitude") }}
                        <span style="color: red">{{ form_errors(form.latitude) }}</span>
                        <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.latitude) }}
                         <button class="btn-clear" tabindex="-1" type="button"></button>
                        </div>

                        {{ form_label(form.altitude, "Altitude") }}
                        <span style="color: red">{{ form_errors(form.altitude) }}</span>
                        <div class="input-control text" data-role="input-control" >
                        {{ form_widget(form.altitude) }}
                         <button class="btn-clear" tabindex="-1" type="button"></button>
                        </div>


                        {{ form_label(form.image.file, " Ajouter une image") }}
                        <span class="erreur-form">{{ form_errors(form.image.file) }}</span>
                        <div class="input-control file" data-role="input-control" data-hint="Ajouter une photo de vous | Cela permettra de personaliser vos pages une fois connecter au site">
                        {{ form_widget(form.image.file) }}
                        <input type="text" id="__input_file_wrapper__" readonly="" style="z-index: 1; cursor: default;">
                        <button class="btn-file" type="button"></button>
                        </div>

                        {{ form_label(form.autreInfo, "Autres infos") }}
                        <span style="color: red">{{ form_errors(form.autreInfo) }}</span>
                        <div class="input-control textarea" data-role="input-control">
                        {{ form_widget(form.autreInfo) }}
                        </div>


                    <div style="margin-top: 0px;">
                        <button type="submit" class="button large primary">
                            <i class="icon-checkbox on-left"></i>
                            Valider
                        </button>
                    </div>

                </div>
             </div>
    {{ form_widget(form) }}



                </form>
            </div>
        </div>
        </div>
    </div>

{%endblock bodycontent%}
{%endblock body%}
{%block javascripts%}
{{parent()}}
<script type="text/javascript">
       $("#image-add").click(function(e){
           e.preventDefault();
           addImageToForm();
       });
        function addImageToForm(imageContainer){
            imageContainer = $("#image-container");
            var prototype = $("#atks-form-ajout-pharmacie").attr("data-prototype");
            var newImageForm = prototype.replace(/__name__/g, imageContainer.children().length);
            imageContainer.append(newImageForm);
        }

</script>
{%endblock javascripts%}
