{%extends "ATKSAdminBundle::layout.html.twig"%}
{%block title%}{{parent()}} Les spécialités de {{pharmacie.nom}}{%endblock title%}
{% block body %}
{{parent()}}
<div class="grid fluid">
    <div class="row">
        <h2 id="__form__">Les spécialités de {{pharmacie.nom}}</h2>
        <div class="example2" style="padding: 10px">
            <table class="table striped hovered dataTable" id="dataTables-1">
                <thead>
                    <tr>
                            <th class="text-left" style="">Nom</th>
                            <th class="text-left" style="">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {%for ps in pharmacieSpecialite%}
                        <tr>
                            <td>{{ps.specialite.nom}}</td>
                            
                            <td>
                                <div class="toolbar" style="float: right">
                                    <a href="{{path('atks_admin_modifier_pharmacie_specialite', {'id':ps.id})}}" class="button js-show-all-streams" title="Modifier" data-role=""><span class="icon-pencil"></span></a>
                                    <a href="{{path('atks_admin_supprimer_pharmacie_specialite', {'id':ps.id})}}" class="button js-show-all-streams" title="Supprimer" data-role=""><span class="icon-remove"></span></a>
                                </div>
                            </td>
                        </tr>
                    {%endfor%}
                    </tbody>

                    <tfoot>
                        <tr>
                            <th class="text-left" style="">Nom</th>
                            <th class="text-left" style="">Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
{{parent()}}
    <script>
        $(function() {
            $('#dataTables-1').dataTable({
                "bProcessing": true,
            });
        });
        </script>
{% endblock javascripts %}